<html ng-app='myApp'>
	<body ng-controller='myCtrl'>
		<input type="text" name="" value="" ng-model="stars.name">
		<input type="text" name="" value="" ng-model="stars.gravity">
		<input type="text" name="" value="" ng-model="stars.climate">
		<button type="button" name="button" ng-click="addPlanet(stars)">Add Planet</button>
		<div ng-repeat="planet in planets | filter: filterPlanet">
			Name: {{planet.name}}<br>
			Gravity: {{planet.gravity}}<br>
			Climate: {{planet.climate}}<br>
			Rotation Period: {{planet.rotation_period}}<hr>
		</div>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
